NODE_ENV=development
HOST=localhost
PORT=3009
DB_CONNECTION_URL=postgresql://user:password@localhost:5432/castle

ACCESS_TOKEN_VALIDITY_SECONDS=3600
REFRESH_TOKEN_VALIDITY_SECONDS=86400
AUTH_TOKEN_AUDIENCE=audience
AUTH_TOKEN_ISSUER=issuer
AUTH_TOKEN_SIGNING_KEY=securekey

CORS_ALLOWED_ORIGINS=localhost,foo.com
CORS_ALLOWED_METHODS=GET,POST,DELETE

CRYPTO_KEY_SYMMETRIC=securekey